* {
    margin: 0px;
    padding: 0px;
    box-sizing: 100vh;
}

html , body {
    height: 100vh;
}

.header{
    padding: 0.5rem 1rem;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

.navBar{
    display: flex;
}

.navBar a{
        padding-right: 20px;
        text-decoration: none;
        color: black;
        font-size: 20px;
}

.main{
    height: 500px;
    background-color: grey;
}

.user{
    color: white;
    font-weight: 600;
    padding-left: 5px;
    font-size: 20px;
}

.welcome{
    font-size: 15px;
    color: white;
    font-weight: 600;
}


